* {
    margin: 5px;
}

body {
    margin: 10px;
}

section {
    display: inline-block;
    justify-content: center;
    align-items: center;
}

button {
    padding: 3px 6px;
    border-radius: 6px;
    color: white;
    background-color: #444;
    border: 1px solid transparent;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3a3a3a;
}

button:active {
    color: black;
    background-color: #dfdfdf;
}

.item {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    border: 1px dotted #b0b0b0;
    align-items: center;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
    transition: opacity 0.2s ease-in-out;
    position: relative;
}

.two-columns {
    margin: 0;
    display: flex;
    flex-flow: row;
}

.list {
    height: 400px;
    width: 350px;
    border: 1px solid #b0b0b0;
    border-radius: 15px;
}

.item:has(.remove-button:hover) {
    opacity: 0.3;
}

.item:has(.remove-button:active) {
    opacity: 0.1;
}

.remove-button:hover {
    opacity: 1;
}